.DS_Store
._.DS_Store
.__pycache__
*/__pycache__/*
**/__pycache__/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
results
weights_SF
weights_MF
*.pyc
input_data/
test_img_block/
model_weight/
outlog/
paper_figures/
test_images/
results_debug/
external/
nice_model/